<!--The content below is only a placeholder and can be replaced.-->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<div style="text-align:left">
<h1>
    {{title}}
</h1>
<div>
    <h3>Account Information</h3>
</div>
<div ng-app="formApp" ng-controller="formCtrl">
<form name="regsform">
    <p>First Name:
        <input type="text" name="firstName" [(ngModel)]="user.firstName"
        required
        minlength="2"
        #firstName="ngModel">
        <span *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
            <span *ngIf="firstName.errors.required">First name is required.</span>
            <span *ngIf="firstName.errors.minlength">Name must be at least 2 characters long.</span>
        </span>
    </p>
    <p>Last Name:
        <input type="text" name="lastName" [(ngModel)]="user.lastName"
        required
        minlength="2"
        #lastName="ngModel">
        <span *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
            <span *ngIf="lastName.errors.required">Last name is required.</span>
            <span *ngIf="lastName.errors.minlength">Name must be at least 2 characters long.</span>
        </span>
    </p>
    <p>Email:
        <input type="email" name="email" [(ngModel)]="user.email"
        required
        email
        #email="ngModel">
        <span *ngIf="email.invalid && (email.dirty || email.touched)">
            <span *ngIf="lastName.errors.required">Email name is required.</span>
            <span *ngIf="email.errors.email">Email must be volid.</span>
        </span>
    </p>
    <p>Password:
        <input type="password" name="password" [(ngModel)]="user.password"
        required
        minlength="8"
        maxlength="12"
        pattern="^([a-zA-Z0-9@*#]{8,24})$"
        #password="ngModel">
        <span *ngIf="password.invalid && (password.dirty || password.touched)">
            <span *ngIf="password.errors.required">Password name is required.</span>
            <span *ngIf="password.errors.pattern">Password must be at least 8 characters long</span>  
        </span>
    </p>
    <p>Confirm Password:
        <input type="password" name="confirm" [(ngModel)]="user.confirm"
        required
        #confirm="ngModel">
        <span *ngIf="user.confirm != user.password && confirm.invalid && (confirm.dirty || confirm.touched)">
            <span *ngIf="confirm.errors.required">Confirm password need to match the password.</span>  
        </span>
    </p>
    <p>Street Address
        <input type="text" name="street" [(ngModel)]="user.street"
        required
        #street="ngModel">
        <span *ngIf="street.invalid && (street.dirty || street.touched)">
            <span *ngIf="street.errors.required">Address is required.</span>
        </span>
    </p>
    <p>Unit/Apt #
        <input type="text" name="unit" [(ngModel)]="user.unit">
    </p>
    <p>City
        <input type="text" name="city" [(ngModel)]="user.city"
        required
        #city="ngModel">
        <span *ngIf="street.invalid && (street.dirty || street.touched)">
            <span *ngIf="city.errors.required">City is required.</span>
        </span>
    </p>
    <p>State
        <select name="state" [(ngModel)]="user.state"
        required
        #state="ngModel">
            <option value="CA">CA</option>
            <option value="WA">WA</option>
        </select>
    </p>
    <p>I am feeling lucky:
        <input type="radio" name="lucky" value="yes" checked>Yes
        <input type="radio" name="lucky" value="no">No
    </p>
    <button (click)="show()">Submit</button>
    <p>{{buttonclick}}</p>
</form>
</div>
<script>
    var app = angular.module('formApp', []);
    app.controller('formCtrl', function($scope) {
        $scope.first_name = "";
    });
</script>

